// color
$bg-color: #141217;
$container: #2D263B;
$bg-color2: #F2F2F2;
$point-color: rgb(96, 247, 134);
$grey1: rgb(192, 192, 192);
$grey2: rgb(145, 145, 145);
$grad-pink: #ffb0d7;
$grad-purple: hsl(275, 100%, 69%);
$gradiant01: linear-gradient(45deg, $grad-pink, $grad-purple);

@mixin font-gradient() {
  color: transparent;
  background: $gradiant01;
  -webkit-background-clip: text;
}

@mixin border-gradient() {
  border: 1px solid transparent;
  background: linear-gradient($container, $container) padding-box, $gradiant01 border-box;
}


// $font-grad: {
//   color: transparent;
//   background: $gradiant01;
//   -webkit-background-clip: text;
// };
// $grad-border {
//   border: 1px solid transparent;
//   background: linear-gradient($container, $container) padding-box, $gradiant01 border-box;
// }

// font
@font-face {
  font-family: 'CWDangamAsac-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
$title-font: 'Noto Sans KR', sans-serif;
$content-font: 'nanumsquare';

// custom scroll-bar
@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba($color: #ffffff, $alpha: 0.1);
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

// no scroll bar
@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}


body {
  font-family: $content-font;
  background-color: $bg-color;
}

.app {
  background-color: $bg-color;
}

h1 {
  font-size: 2rem;
}

.hidden {
  display: none !important;
}