@import './common.scss';

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes moveUp {
    0% {
        bottom: 0%;
    }
    100% {
        bottom: 20vh;
        display: none;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    // padding: 0px 160px;
    box-sizing: border-box;
    position: absolute;
}

.greeting {
    color: white;
    position: absolute;
    top: calc(50vh - 40px);

    animation-name: moveUp, fadeOut;
    animation-duration: 1s;
    animation-delay: 2.2s;
    position: relative;
    animation-fill-mode: forwards;

    &__line1, &__line2 {
        font-size: 2rem;
        text-align: center;
        color: transparent;
        background: $gradiant01;
        -webkit-background-clip: text;
        opacity: 0;
        span {
            font-weight: bold;
        }
    }
    &__line1 {
        margin-bottom: 16px;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
    }
    &__line2 {
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 0.9s;
        animation-fill-mode: forwards;
    }
}

.movie-container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    
    &__btns{
        position: relative;
        // bottom: 16px;
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            background-color: transparent;
            @include font-gradient;
            font-size: 1rem;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            cursor: pointer;
            svg {
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
        &__refresh {
            margin-right: 32px;
        }
        
    }
    
    &__list {
        width: 100%;
        height: 100%;
        overflow: scroll;
        @include custom-scroll-bar;
        overflow-x: hidden;
        padding: 0px 32px;
        
    
        position: relative;
        // top: 190vh;
        display: flex;
        // display: none;
        flex-wrap: wrap;
    }
}