@import './common.scss';

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes moveUp {
    0% {
        bottom: 0%;
    }
    100% {
        bottom: 20vh;
        display: none;
    }
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
    // padding: 0px 160px;
    box-sizing: border-box;
}

.greeting {
    color: white;
    position: relative;
    top: calc(50vh - 40px);

    animation-name: moveUp, fadeOut;
    animation-duration: 1s;
    animation-delay: 3.5s;
    position: relative;
    animation-fill-mode: forwards;
    &__line1, &__line2 {
        font-size: 2rem;
        text-align: center;
        color: transparent;
        background: $gradiant01;
        -webkit-background-clip: text;
        opacity: 0;
        span {
            font-weight: bold;
        }
    }
    &__line1 {
        margin-bottom: 16px;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }
    &__line2 {
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
}

.movie-container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    
    &__btns{
        padding: 0px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__list {
        width: 100%;
        height: calc(100vh - 120px);
        overflow: scroll;
        
    
        position: relative;
        // top: 190vh;
        display: flex;
        // display: none;
        flex-wrap: wrap;
    }
}