@import './common.scss';

.GameView {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.round {
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 100vh;
    &__left, &__right {
        display: flex;
        justify-content: center;
        width: 50vw;
        &__poster {
            width: 50%;
            height: 0;
            padding-bottom: 140%;
            background-position: center;
            object-fit: cover;
        }
    }
}