@import './common.scss';

.GameView {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.round {
    display: flex;
    width: 100vw;
    height: 100vh;
    &__left, &__right {
        display: flex;
        justify-content: center;
        width: 50vw;
    }
}