@import './common.scss';

.home {
  position: absolute;
  bottom: 0px;
  color: $bg-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 85%;
  overflow: scroll;
  background-size: cover;
  background-position: 50% 50%;
  @include custom-scroll-bar;

  &__main-container {
    width: 100%;
  }
}

.header {
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.alert {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  // left: 50%;
  top: 50%;
  // transform: translate(-50%, -50%);
  
  &__heading {
    @include font-gradient;
    font-weight: 500;
    font-size: 1.2rem;
    
  }
  .gameLink-alert {
    // position: absolute;
    bottom: 16px;
    right: 5vw;
    display: flex;
    align-items: center;
    height: 48px;
    text-decoration: none;
    zoom: 1.2;

    &:hover {
      opacity: 0.7;
    }
    h2 {
      @include font-gradient;
      font-weight: 800;
      font-size: 1.5rem;
      margin-right: 8px;
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.best-movie {
  display: flex;
  flex-direction: column;
  width: fit-content;
  &__heading {
    @include font-gradient;
    font-size: 2rem;
    font-family: $title-font;
    font-weight: 800;
    margin-bottom: 24px;
  }
  
  &__main-info {
    display: flex;
    width: 50vw;

    &__poster {
      @include poster-div(220px);
      margin-right: 40px;
      transition-property: transform;
      transition-duration: 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
    
    &__content {
      width: 60%;
      color: white;
      
      &__date {
        font-size: 1.2rem;
        margin-bottom: 8px;
      }
      &__title {
        font-size: 2rem;
        @include font-gradient;
        font-weight: 800;
        margin-bottom: 8px;
      }
      &__subinfo {
        opacity: 0.7;
        margin-bottom: 8px;
      }
      p {
        opacity: 0.7;
        line-height: 1.4rem;
        max-height: 60%;
      }
    }
  }
}

.gameLink {
  position: absolute;
  bottom: 16px;
  right: 5vw;
  display: flex;
  align-items: center;
  height: 48px;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
  h2 {
    @include font-gradient;
    font-weight: 800;
    font-size: 1.5rem;
    margin-right: 8px;
  }
  svg {
    width: 30px;
    height: 30px;
  }
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .recommends {
    width: 60%;
    padding: 32px 16px 32px 32px;
    
    &__title {
      @include font-gradient;
      font-weight: 800;
      font-size: 1.5rem;
      font-family: $title-font;
      height: 48px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      color: white;
    }
  }
  
  .records {
    width: 35%;
    padding: 32px 32px 32px 16px;
    
    &__title {
      @include font-gradient;
      font-weight: 800;
      font-size: 1.5rem;
      font-family: $title-font;
      height: 48px;
    }
  }
}