@import './common.scss';

.home {
  color: $bg-color;
  width: calc(1440px - 245px);
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  .home-title {
    font-family: $title-font;
    font-size: 2rem;
    margin-bottom: 16px;
    font-weight: bold;
    color: transparent;
    background: $gradiant01;
    -webkit-background-clip: text;
  }
  &__search-container {
    height: 10%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  &__main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    padding: 0px 32px 32px 32px;
    box-sizing: border-box;
    &__left {
      width: calc(65% - 16px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .best-movie, .world-cup {
        height: 49%;
      }
    }
    &__right {
      width: calc(35% - 16px);
      .container {
        padding: 24px;
      }
    }
  }
}

.container {
  background-color: $container;
  border-radius: 20px;
  height: calc(100% - 48px);
  overflow: hidden;
  color: white;;
}

// 내 인생영화
.best-movie {
  .container {
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__poster {
    width: 178px;
    height: 255px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 16px;
    // background-image: url();
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__info {
    width: 40%;
    &__date {
      font-size: 1.2rem;
      margin-bottom: 8px;
    }
    &__movie-title {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }
}

// 내 인생영화 찾기
.world-cup {
  .container{
    background-color: transparent;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(4, 1.2fr);
  }
  &__game {
    width: 167px;
    height: 167px;
    background-color: $grey2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// 명에의 전당
.record {
  height: 155px;
  display: flex;
  margin-bottom: 16px;
  &__poster {
    width: 105px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    img {
      height: 101%;
      object-fit: cover;
    }
  }
}