@import './common.scss';

.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: $bg-color2;
  position: relative;
  // .navbar {
  //   height: 100%;
  //   background-color: $bg-color;
  //   padding: 32px;
  //   display: flex;
  //   flex-direction: column;
  // }
  &__container {
    width: calc(100% - 245px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // justify-content: center;
    align-items: center;
    height: 100%;
    &__search-container {
      height: 15%;
      width: 100%;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
    }
  }
}