@import './common.scss';

.movie-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 85%;
  overflow: scroll;
  box-sizing: border-box;
  &__container {
    height: fit-content;
    width: 100%;
  }
}

.wrapper {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 120%;
  background-position: center;
  // background: linear-gradient($bg-color, white);
  // background-blend-mode: multiply;
  // padding-top: 140px;
}

.main-info {
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__poster {
    width: 220px;
    height: 0;
    padding-bottom: calc(220px * 1.5);
    background-size: cover;
    border-radius: 10px;
    margin-right: 40px;
  }

  &__info {
    width: 40vw;
    height: 100%;
    padding: 20px 0px;
    box-sizing: border-box;
    position: relative;
    &__title {
      font-size: 2.5rem;
      font-weight: 800;
      margin-bottom: 8px;
    }
    &__subinfo {
      opacity: 0.7;
      font-weight: 300;
      margin-bottom: 8px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    & p {
      line-height: 1.4rem;
      opacity: 0.7;
    }
    &__btns {
      display: flex;
      position: absolute;
      bottom: 0;
      .addWatched {
        margin-right: 16px;
      }
      .addWatched, .addToWatch {
        height: 40px;
        padding: 0px 20px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.4);
        background: linear-gradient($container, $container) padding-box, $gradiant01 border-box;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;
        margin-bottom: 20px;
        h3 {
          color: transparent;
          background: $gradiant01;
          -webkit-background-clip: text;
          opacity: 0.7;
        }
        svg {
          width: 18px;
          margin-right: 8px;
          fill: white;
          opacity: 0.7;
        }
      }
    }
  }
}

.link {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  &__button {
    cursor: pointer;
    width: auto;
    height: 36px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    font-weight: 700;
    opacity: 0.7;
    position: relative;
    &:nth-of-type(1) {
      margin-right: 16px;
    } 
    &__line {
      position: absolute;
      bottom: 0px;
      height: 2px;
      width: 100%;
      background-color: transparent;
    }
  }
}

.active {
  opacity: 1;
  font-weight: 700;
  color: transparent;
  background: $gradiant01;
  -webkit-background-clip: text;
  // border-bottom: 2px solid transparent;
  // background: linear-gradient($bg-color, $bg-color) padding-box, $gradiant01 border-box;
} 

.active-line {
  background: $gradiant01 !important;
}

.area {
  width: 70%;
  margin: 0px auto;
  height: fit-content;
  min-height: 100%;
  display: flex;
  justify-content: center;
  &__reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__my-review {
      h3 {
        font-size: 1.5rem;
        font-weight: 800;
        color: transparent;
        background: $gradiant01;
        -webkit-background-clip: text;
        margin-bottom: 8px;
      }

      .review-form {
        display: flex;
        width: 80%;
        height: 40px;
        border-radius: 20px;
        textarea {
          width: 77%;
          border-radius: 20px;
          margin-right: 3%;
          border: 1px solid transparent;
          background: linear-gradient($bg-color, $bg-color) padding-box, $gradiant01 border-box;
        }
        input[type="submit"] {
          width: 20%;
        }
      }
    }
  }
}