@import './common.scss';

.movie-item {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 36px;
  width: 20%;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  &__poster {
    border: 1px solid $bg-color;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 147%;
    border-radius: 8px;
    margin-bottom: 12px;
    box-sizing: content-box;
    background-size: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 4px;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    &__title {
      width: 100%;
      font-weight: normal;
      margin-bottom: 8px;
      font-weight: 400;
      overflow:hidden;
      text-overflow: ellipsis;
      white-space:nowrap;
    }
    &__subinfo {
      opacity: 0.7;
      font-size: 0.8rem;
      font-weight: 100;
    }
  }
}

.clicked {
  border: 1px solid white;
  // border: 1px solid transparent;
  // background: linear-gradient($container, $container) padding-box, $gradiant01 border-box;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  width: 150px;
  
  &__watched, &__toWatch {
    @include button2;
    width: 100%;
    margin-bottom: 5%;
  }
}