@import './common.scss';

.search-bar {
  // z-index: 10;
  position: fixed;
  top: calc((15% - 40px) / 2);
  align-items: center;
  display: flex;
  width: 40%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: linear-gradient($bg-color, $bg-color) padding-box, $gradiant01 border-box;
  background-color: white;
  padding: 0px 16px;
  box-sizing: border-box;

  svg {
    fill: $grey1;
    position: relative;
    height: 50%;
    // left: 3%;
  }
  &__form {
    border: none;
    height: fit-content;
    padding: 0px 16px;
    input {
      border: none;
      background-color: transparent;
      width: 100%;
      color: white;
      
      &::placeholder {
        color: white;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    input[type="text"]:focus {
      outline: none;
    }
    input[type="submit"] {
      display: none;
    }
}
}