@import './common.scss';

.UserDetail {
  width: 100%;
  height: 100%;
  // padding: 32px;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
  @include custom-scroll-bar;
}

.header {
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: 50% 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 32px 64px;
  box-sizing: border-box;
}

.user-info {
  width: 60%;
  display: flex;
  // justify-content: space-between;
  // margin-bottom: 32px;
  height: auto;
  &__img {
    @include circle(100px);
    box-sizing: border-box;
    background-size: cover;
    margin-right: 24px;
    position: relative;

    svg {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer;
    }
  }
  
  &__main {
    width: 70%;
    margin-right: 24px;
    
    &__username {
      @include font-gradient;
      font-weight: 800;
      margin-bottom: 12px;

      svg {
        width: 1.2rem;
        height: 1.2rem;
        cursor: pointer;
      }
    }
    &__message {
      font-size: 1rem;
      line-height: 1.5rem;
    }

  }

  &__sub {
    display: flex;
    // width: fit-content;
    align-items: center;

    &__follow {
      display: flex;
      flex-direction: column;
      width: fit-content;
      align-items: center;
      &:nth-of-type(1) {
        margin-right: 12px;
      }

      h2:nth-of-type(1) {
        margin-bottom: 12px;
        font-weight: 600;
      }
    }

    p {
      font-weight: 300;
      margin-right: 16px;
    }
    span {
      font-weight: 600;
    }
  }
}

.wrapper {
  display: flex;
  height: calc(100% - 30vh);
  // padding: 0px 16px;

  .movies {
    width: 65%;
    padding: 16px 16px 0 64px;
    &__tab {
      display: flex;
      height: 80px;

      &__watched, &__toWatch {
        width: auto;
        height: 40px;
        margin: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__line {
          width: 100%;
          height: 2px;
          background-color: rgba($color: #ffffff, $alpha: 0.7);
        }
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .link {
    display: flex;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 16px;
    &__button {
      cursor: pointer;
      width: auto;
      height: 36px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      padding: 0px 4px;
      font-weight: 300;
      opacity: 0.7;
      font-size: 1.1rem;
      position: relative;
      &:nth-of-type(1) {
        margin-right: 16px;
      } 
      &__line {
        position: absolute;
        bottom: 0px;
        height: 2px;
        width: 100%;
        background-color: transparent;
      }
    }
  }

  .active-line {
    background: $gradiant01 !important;
  }

  .active {
    opacity: 1;
    font-weight: 800;
    color: transparent;
    background: $gradiant01;
    -webkit-background-clip: text;
    // border-bottom: 2px solid transparent;
    // background: linear-gradient($bg-color, $bg-color) padding-box, $gradiant01 border-box;
  } 

  .records {
    width: 35%;
    padding: 16px 64px 0 16px;

    &__title {
      height: 80px;
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      font-weight: 800;
      @include font-gradient;
    }

    &__list {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
    }
  }
}

.modal, .message-modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: rgba($color: #000000, $alpha: 0.7);
  width: 100vw;
  height: 100vh;
  
  &__box {
    @include border-gradient;
    border-radius: 20px;
    width: 20%;
    // height: 10%;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    padding: 32px;

    &__close {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;

      h2 {
        @include font-gradient;
        font-size: 1.2rem;
        font-weight: 800;
      }
      svg {
        fill: white;
        width: 15px;
      }
    }

    &__content {
      width: 100%;

      form {
        textarea {
          width: 100%;
          border-radius: 10px;
          outline: none;
          padding: 16px;
          box-sizing: border-box;
          font-family: inherit;
          font-size: 1rem;
          resize: none;
          color: $bg-color;
          border: none;
          margin-bottom: 8px;
          // background-color: rgba($color: #ffffff, $alpha: 0.5);
        }

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            font-size: 0.8rem;
            font-weight: 300;
            opacity: 0.7;
            &:nth-of-type(1) {
              margin-right: 5px;
            }
          }
        }
      }
    }
  } 

}