@import './common.scss';

.searchView {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search-result {
    position: absolute;
    bottom: 0px;
    @include custom-scroll-bar;
    height: calc(100% - 140px);
    width: 80%;
    margin-bottom: 16px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 36px;
}